<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="DistributedParallelExecution.Test1"/>
      <class name="DistributedParallelExecution.Test3"/>
      <class name="DistributedParallelExecution.Test2"/>
      <class name="DistributedParallelExecution.Test5"/>
      <class name="DistributedParallelExecution.Test4"/>
      <class name="DistributedParallelExecution.Test6"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
